<table id="cart" border="1" style="visibility:hidden; width:100%">
    <thead>
         <tr>
           <th class='top_table_c' colspan="2">Product</th>
           <th class='top_table_c' >Size</th>
           <th class='top_table_c' >Price</th>
           <th class='top_table_c' >Qty</th>
           <th class='top_table_c' >Total</th>
           <th class='top_table_c' ></th>
        </tr>
    </thead>
    <tbody id="cartBody"></tbody>
</table>
<h2 id="sumatotal"></h2>
<h2 id="sumaprod"></h2>
<button id="butttram" onclick="InsertCompra()">Tramitar pedido</button>
<span id="confpurch" class="alert alert-success"></span>
<span id="emptypurch" class="alert alert-danger"></span>